[2016-08-29 20:51] pdelanauze opened #1 "Small updates"
- [ ] Instructions to setup the project
- [ ] Instructions on how to consume
- [ ] Examples folder ?
- [x] .editorconfig file
- [ ] Ability to name the global namespace, table namespace, and interface

[2016-09-07 17:21] pdelanauze opened #2 "int8 type"
[code]

[2016-10-24 20:16] #2 closed, assigned to nobody

[2016-11-11 22:26] #1 closed

[2016-11-27 12:50] vitaly-t opened #6 "article"
[Great article](http://sweetiq.com/blog/2016/11/coders-statically-typed-postgresql-queries-typescript/), cheers!

I just wanted to point out that one can write even more elegant code, by replacing `db.query(..).then(...each)` with simply `db.each`. See methods [each](http://vitaly-t.github.io/pg-promise/Database.html#.each) and [map](http://vitaly-t.github.io/pg-promise/Database.html#.map) ;)

[2016-11-28 19:26] xiamx commented on #6
Thanks @vitaly-t for the pointer! Looks like we haven't used pg-promise at its full potential. I'll update the article when I get a chance.

[2016-11-29 13:42] geon opened #7 "Bad line endings"
When installing with -g, it won't work on Mac. The problem seems to be the file is using CRLF instead of LF. I converted the file and it worked again.

[2016-11-29 14:17] #7 closed

[2016-11-29 14:17] xiamx commented on #7
Thanks for point it out. I can't believe I've been doing this to people 😂

[2016-11-29 14:18] xiamx commented on #7
Fixed in release 0.2.1

[2016-11-29 14:35] geon opened #9 "Would be nice to be able to generate all/multiple tables at once."

[2016-11-29 16:36] xiamx commented on #9
You can do
[code]

[2016-12-06 00:26] zigomir opened #10 "Auto-generated comment"
Hey! Thanks for this cool project!

I'm guessing all the generated `.ts` files shouldn't be edited by user in most cases and it might make sense to add a top most comment about it. Something like:

[code]

what do you think?

[2016-12-06 01:19] xiamx commented on #10
Yes good idea indeed. It will need some parsing to mask out database credentials. Pull-requests are welcomed. 👍

[2016-12-06 07:39] vitaly-t opened #12 "Comments support?"
How about retrieving comments for all tables + columns, and adding them as TypeScript columns ;)

See:

 - [Retrieving Comments from a PostgreSQL DB](http://stackoverflow.com/questions/343138/retrieving-comments-from-a-postgresql-db)
 - [How to retrieve the comment of a PostgreSQL database?](http://stackoverflow.com/questions/11493978/how-to-retrieve-the-comment-of-a-postgresql-database)

[2016-12-06 17:33] xiamx commented on #12
It would be great to have! 👍

[2016-12-07 22:01] xiamx commented on #10
Thanks @zigomir for working on this enhancement. The pull request has been merged and the changes are included in release 0.3.0

[2016-12-07 22:22] zigomir commented on #10
No problem, thanks for guidance/feedback, and release!

[2016-12-07 22:22] #10 closed

[2016-12-07 22:36] zigomir commented on #9
I also believe this would be helpful. I think we could add an argument `-s` or `--schema` where if you provide it, we'd take all tables in this schema. I think schema is granular enough, I think all tables in database is too much because of `information_schema` and `pg_catalog` which we probably don't want.

[2016-12-07 22:42] vitaly-t commented on #6
@xiamx just saw the update, and wanted to point out - it is generally not a good idea showing loose queries as examples, i.e. the ones that have no `.catch` provided, which is what you do for those `each` examples.

[2016-12-08 03:37] xiamx commented on #9
Yes, good suggestion, and also very easy to implement

[2016-12-08 16:45] xiamx commented on #6
@vitaly-t Thanks! nice `.catch`! I updated the article per your suggestion :)

[2016-12-09 21:36] xiamx opened #15 "Support Enum Type"
Add support for Postgres Enum Type https://www.postgresql.org/docs/current/static/datatype-enum.html

[2016-12-10 15:46] vitaly-t commented on #6
I would also suggest that you test the code that you publish :wink:

The syntax you show for calling `.each` is incorrect, see the API. It must be `.each(q, [], callback)`, whereas instead you pass your callback as values, such code wouldn't work and throw an error.

[2016-12-11 22:17] xiamx commented on #6
It's been fixed 😅 Thanks for the review!

[2016-12-12 16:38] born2net opened #16 "Maybe project can be merged with https://github.com/typeorm/typeorm"
Maybe project can be merged with https://github.com/typeorm/typeorm
combined efforts,

Angular 2 Kitchen sink: http://ng2.javascriptninja.io
and source@ https://github.com/born2net/Angular-kitchen-sink
Regards,

Sean

[2016-12-12 16:52] born2net commented on #16
reg: https://github.com/typeorm/typeorm/issues/124#issuecomment-266482601

[2016-12-12 17:10] xiamx commented on #16
Hi,

I agree with @pleerock . schemats and typeorm have different opinions on interacting with databases. We may be able to share some common modules but the general directions don't converge.

[2016-12-12 17:13] born2net commented on #16
ok np

[2016-12-12 17:13] #16 closed

[2016-12-13 22:36] jmealo commented on #12
I've been meaning to checkout TypeScript has anyone picked this up?

[2016-12-13 23:21] jmealo commented on #15
This snippet may be helpful:

[code]

The subquery avoids a hash join and appears to be faster on 50 or so enums. I did not test extensively.

[code]

We should be able safely disregard ordering by `enumsortorder` for our purposes.

[2016-12-13 23:29] jmealo opened #17 "Overlap/Collaboration Potential: pogi"
Kudos on schemats! I wanted to point out a seemingly related library: https://github.com/holdfenytolvaj/pogi

[2016-12-13 23:30] xiamx commented on #15
@jmealo thanks for the input. I have a work in progress of the implementation in [enumtype](https://github.com/SweetIQ/schemats/tree/enumtype) branch. Currently on hold because https://github.com/SweetIQ/schemats/pull/14 refactored some low level functions to support schema/tablennamespaces. It will be best to have #14 merged first.

[2016-12-13 23:43] xiamx commented on #12
You can grab this one 👍

[2016-12-14 16:54] xiamx commented on #17
can definitely share some common module in the future

[2016-12-25 17:00] abenhamdine opened #19 "Support nullable type"
Hi and thx a lot for this module.

I just started to use this module, and I wonder if it's possible to generate typescript nullable type ?
Indeed, for ones who use typescript with --strictNullChecks flag, it would be very useful to generate types nullable with union type.

For example, for a SQL nullable string, it would generate type `: string | null`, etc.

I think it would be better to have thi

[2016-12-25 17:15] abenhamdine opened #20 "Support numeric type"
I just started to use this module, but unfortunately, only a few types seem to be mapped :
[code]

Would it be possible to add numeric type mapping ?

Thx by advance.

[2016-12-25 17:54] xiamx commented on #20
This can be supported by adding a line `case 'numeric':` on the type mapping function https://github.com/SweetIQ/schemats/blob/master/src/schema.ts#L54

Other types can also be supported by adding respective mappings.

Pull requests are welcomed 👍

[2016-12-25 18:01] xiamx commented on #19
An idea would be to modifiy [getTableDefinition](https://github.com/SweetIQ/schemats/blob/master/src/schema.ts#L16) to include [SELECT is_nullable]
Then use this information to generate `: string | null` or `: string` accordingly.

Hope this information can help you :)

[SELECT is_nullable]: http://stackoverflow.com/questions/5345380/finding-columns-that-are-not-null-in-postgresql

[2016-12-25 22:05] abenhamdine commented on #20
Yes, thx ! I eventually found the relevant code too.
Ok, I will send a PR in order to add some frequent datatypes in the upcoming days, I'm glad to help on this.

[2017-01-02 16:18] xiamx commented on #15
Looks like there's a working implementation in this fork https://github.com/gust/schemats .

[2017-01-05 15:04] #20 closed

[2017-01-05 23:30] vitaly-t opened #22 "Camelized column names"
In case you want automatically camelized column names, see event [receive](http://vitaly-t.github.io/pg-promise/global.html#event:receive), and the example that follows :wink: Could make for a nicer TypeScript style :wink:

Caramelized, LOL 😸

[2017-01-06 09:10] abenhamdine commented on #22
+1 for the feature : as a fresh user of this module, I was precisely thinking about this.
But I wonder : why use pgp event receive, and not camelize while generating ts code in https://github.com/SweetIQ/schemats/blob/master/src/typescript.ts#L16 ?

[2017-01-06 09:28] abenhamdine opened #23 "When runned locally, tests are looking for osm.ts at wrong location"
Hi and thx again for this module !

While running tests locally before submitting a PR, I ran into the following pb : tests are looking for file osm.ts in `test/artifacts/osm.ts`, but this file is actually located at `test/example/osm.ts`

![image](https://cloud.githubusercontent.com/assets/7466144/21713399/2134faf8-d3fa-11e6-976b-04e1d660f466.png)

The culprit seems to be https://github.com/Sweet

[2017-01-06 09:33] abenhamdine commented on #19
OK, i will give a try.
Thx for the guidance.

[2017-01-06 11:00] abenhamdine commented on #12
FWIW, to retrieve comments with information schema statements :
[code]

[2017-01-06 11:28] vitaly-t commented on #12
@abenhamdine the same code was shown from the first link that I provided, the answer given by user `T.Z.` there :wink:

[2017-01-06 12:05] abenhamdine commented on #12
@vitaly-t Ah yes, you're right : actually, I was reading a SO question about this, and I paste immediatly the code without having read your first link... which turned out to be the same link 😉

Otherwise, I still wonder if it exists a 'pure' information schema way to retrieve comments, without any specific pg function, as this module until now is still sql-generic.

[2017-01-06 12:11] abenhamdine opened #24 "Support more data types"
I open this issue just for the record : in PR https://github.com/SweetIQ/schemats/pull/21, I didn't add all sql types, since there so many, and I think the mapping still lacks some common ones :
- inet type
- timestamptz

If I a had some time, I will submit a PR for this.

If anyone would suggest more types to add ?

[2017-01-06 14:19] abenhamdine opened #25 "add feature to generate output without namespace"
Currently, namespace parameter is required.

If one runs schemats without argument -n (or with empty one) like that :
`schemats generate -c postgres://postgres@localhost/osm -t users -o osm.ts`

It ends up with the following output in osm.ts :
[code]

Using a namespace for a whole module in typescript is ok, but a bit outdated.
With es2015 modules, it seems preferable to generate directly :
[code]

[2017-01-06 15:24] abenhamdine commented on #24
I realize that it lacks also :
- char
- jsonb
- time
- float4

[2017-01-06 15:32] abenhamdine commented on #12
I was thinking : it would be a good thing to add in the comments the true datatype of the database column, as the ts types are far more limited, and it can be useful to know the full SQL type.

Example : for a json column :
[code]

[2017-01-06 15:47] xiamx commented on #24
@elizabethkilson 's fork gust/schemats includes [some more type mappings](https://github.com/SweetIQ/schemats/commit/f8927e682f4347fd34855e95ef93a8def813567d). They also seem to have a working enum type support proposed in #15 .

[2017-01-06 16:52] xiamx commented on #12
That's a nice idea, can be very useful.

[2017-01-06 17:04] xiamx commented on #25
You are right.

I'm think about deprecating the namespace parameter all together. The choice of having a namespace was due to my inexperience with Typescript earlier, and mixed information from Typescript 1.5 days. As of today, and using Typescript 2.0, there's really no motivation to keep using namespaces

[2017-01-06 17:08] abenhamdine commented on #24
Looks like there's a risk of merge conflict beetween a potention PR on this, and a future merge of gust enum implementation.

However if it's ok for you, I will first submit a PR with all additionnal types (those in gust/schemats fork will be covered in the PR too).

[2017-01-06 17:15] abenhamdine commented on #25
Totally agree :thumbsup:
As a consequence of semver, it will be schemats 1.0 no ?   💃 :tada:

[2017-01-06 17:19] abenhamdine commented on #9
I think this issue can be close, it works now (there's a pending PR to update the readme).

[2017-01-06 17:24] xiamx commented on #23
`test/example/osm.ts` is file that we want schemats to generate from `osm.sql`. and `test/artifacts/osm.ts` is the file schemats actually generates. We run the diff for the two files, tests pass if those two files are line-by-line equal.

The problem is because the `test/artifacts` directory is missing (I forgot to commit it to the repo), `test/artifacts/osm.ts` wasn't written. The promise in http

[2017-01-06 17:42] xiamx commented on #22
Yup, this is definitely needed.  We guys at SweetIQ didn't experience this _camel_snakeCase_ _eye candy_ because our database was migrated from a mongodb database where keys(columns) are all camelCased :joy: . But we instead had to double quote all column names in our SQL queries.

[2017-01-06 17:43] #23 closed

[2017-01-06 21:37] abenhamdine commented on #23
Ah ok thx a lot 👍
It could be useful to add a few lines in the readme just to precise that the file test/example/osm.ts is the one to be edited for the tests.

[2017-01-06 22:23] abenhamdine commented on #19
Probably a good idea to try to merge https://github.com/gust/schemats/tree/enumtype first or implementing nullable type at the same time.

[2017-01-09 17:18] xiamx commented on #24
#28 for record

[2017-01-10 08:47] abenhamdine commented on #12
In the same way, :
- it could be useful to have in the comments the default SQL value of the column, if it's different from null.
- if there's a check constraint, it could be interesting too to add it, as it provides information about the values allowed for the column.

Not necessary all that in the same PR.

[2017-01-10 17:17] #15 closed

[2017-01-10 18:49] abenhamdine commented on #24
Closed since #28 has been merged

[2017-01-10 18:49] #24 closed

[2017-01-11 10:39] abenhamdine opened #31 "add mapping for text search types"
A powerfull feature in postgres is the full text search, which can be perfectly used as a replacement of nosql similar features (elastic search, etc).

For this, postgres provides several types :
- tsquery
- tsvector
- tsrange

see https://www.postgresql.org/docs/current/static/datatype-textsearch.html

The udt names are the sames as the postgres type names :
[code]
gives

![image](https://cloud.g

[2017-01-11 18:18] xiamx commented on #31
I'm not really sure how to deal with this. If [pg](https://github.com/brianc/node-postgres) does not provide a typecast for it, then it's safe to give it an `any` type.

[2017-01-11 22:20] xiamx commented on #12
For the foreseeable future, support to PostgreSQL exclusively will be fine.
- MySQL is less feature rich, and its lack of feature is often complemented by ORMs.
- NodeJS rarely seen used with MSSQL or Oracle, mainly because using them with C#/.Net and Java respectively offer a far better experience.

[2017-01-11 22:58] abenhamdine commented on #12
Actually, I'm a big supporter of postgres, so it's perfect for me 😄

[2017-01-12 11:53] abenhamdine commented on #31
All things considered, wouldn't it be better to map `any` for any unknown type ? Because it's likely that we miss some valid types in the mapping (this time it's tsvector, next time it will be veryRarePgTypeButValidOne, etc...).

What you think about returning `any` for any unrecognized type in the mapping, and print a warning in the console (eg : Warning : type foo is unknown and will be mapped w

[2017-01-12 17:01] xiamx commented on #31
Yup let's do that.

[2017-01-14 16:40] vitaly-t commented on #31
Yes, it is much better for an unknown type to generate type `any`, and show a warning, rather than just throw an error and stop.

[2017-01-16 17:07] #19 closed

[2017-01-16 17:07] #31 closed

[2017-01-16 17:21] xiamx commented on #25
Fixed by #32 https://github.com/SweetIQ/schemats/commit/64143dd352ff1824417c288b248b016a003b4697

[2017-01-16 17:21] #25 closed

[2017-01-17 08:22] abenhamdine commented on #12
@jmealo do you intend to send PR for this ? If not, I can perhaps give it a try next week. Let me know if you have begun to tackle this.

[2017-01-24 10:49] abenhamdine opened #35 "npm run build fails if --strictNullChecks is set to true"
If I set `--strictNullChecks` to true in tsconfig.json, `npm run build` fails :

[code]

The reason in that in the following line, we pass namespace as undefined :
https://github.com/SweetIQ/schemats/blob/master/test/test.ts#L49

while in https://github.com/SweetIQ/schemats/blob/master/src/index.ts#L37, only string is allowed for namespace parameter.

PR is coming.

[2017-01-24 12:38] abenhamdine opened #37 "Some characters are missing in generated output"
Nodejs : 7.4.0
Postgres : 9.6.1
schemats : 1.0.1

While using last version 1.0.1 of this module, I run into a strange bug : in the generated file, some characters are missing, always in the third line of first interface declaration.

Eg, in the following example, the file contains `export type sal_matriculetring;` instead of `export type sal_matricule = string;`
4 characters ` = s` are missing

Ex

[2017-01-24 14:37] xiamx commented on #37
I've also seen this before.. and it's frustrating. So far I believe the issue is either with the `fs.saveFile` function or `typescript-formatter`.

[2017-01-24 14:38] #35 closed

[2017-01-24 16:06] abenhamdine commented on #37
Thx for your quick answer and for the clue.
I will investigate when I have some time.

[2017-01-24 16:17] xiamx commented on #37
No problem. I've seen it happening for one day [[1]] but I'm unable to reproduce it now for some reason.

[1]: https://circleci.com/gh/SweetIQ/schemats/144

[2017-01-24 16:48] xiamx commented on #37
Removed a potential culprit with https://github.com/SweetIQ/schemats/pull/38 .

[2017-01-25 09:28] abenhamdine commented on #37
Thanks !
But after have merged #38 locally, I still have the issue. No difference at all.

[2017-01-26 02:58] xiamx commented on #37
I will probably have to look into typescript-formatter then..

[2017-01-26 15:20] vitaly-t commented on #37
@xiamx how good are your tests? You don't really know that without code coverage. Check out - all my modules have it, you can use them as an example ;)

[2017-01-27 16:50] xiamx commented on #37
@vitaly-t tests are admittedly not comprehensive at the moment :joy: . We only have end to end tests as of now. I should start adding some unit tests

[2017-02-03 21:57] Jujunol commented on #37
I'm experiencing the same problem with `export type password = string` being generated as `expoype password = string`

[2017-02-03 22:04] xiamx commented on #37
I will take another look at this over the weekend

[2017-02-08 14:24] vitaly-t commented on #37
Anything? It's a killer bug, you know, very critical :wink:

[2017-02-08 14:34] xiamx commented on #37
@vitaly-t :joy: I can't reproduce it, neither locally nor on CI.. even though code coverage report by Istanbul is at 100% line covered

[2017-02-08 15:05] xiamx commented on #37
Bumping the version of typescript-formatter to 4.1.0. @abenhamdine @Jujunol can you guys please paste the content of your tsconfig.json and tslintrc (if any)? It should help me reproduce this bug locally.

[2017-02-08 15:14] abenhamdine commented on #37
Bug still present in 1.1.0 for me, unfortunately.
I reproduce every time with a schema with a single table

Here's the dump of the db :
[dump.txt](https://github.com/SweetIQ/schemats/files/761012/dump.txt)

And the output file :

[code]

[2017-02-08 16:09] xiamx commented on #37
@abenhamdine Thanks. This is very helpful in reproducing it.

I can confirm If I disable typescript-formatter, by replacing index.ts
[code]
with simply `return output`

The generated file will have `export type sco_total_debit = number;` generated correctly. This is a weird issue and certainly suggests a bug in typescript-formatter (or a misusage of it in my part.) We use typescript-formatter to (

[2017-02-08 16:25] xiamx commented on #37
Maybe we can receive some help of its author @vvakame I've created an issue there https://github.com/vvakame/typescript-formatter/issues/74

[2017-02-08 16:29] xiamx commented on #37
Interestingly, by removing the comment header from the input, we the issue disappeared. So maybe the temporal solution is to feed only the output without header to typescript-formatter, and then add the header afterward.

[2017-02-08 18:37] xiamx commented on #37
After some lengthy debug on typescript-formatter, I proposed a fix here https://github.com/vvakame/typescript-formatter/pull/75. I'll release a fix for schemats quickly by pointing the typescript-fromatter version to our fork.

[2017-02-08 19:18] abenhamdine commented on #37
1.1.1 solved the pb for me. Thx a lot @xiamx  ! 💃 😄 🎉
@Jujunol could you confirm if it's the case for you too ?

[2017-02-08 19:30] xiamx commented on #37
@abenhamdine awesome, glad to know it fixed it !

Let's keep this tracking issue open until patches are merged in the upstream typescript-formatter project.

[2017-02-10 17:27] xiamx commented on #37
Thank you everyone, the patch is merged to typescript-formatter. Closing this issue with the release v1.1.2

[2017-02-10 17:27] #37 closed

[2017-02-25 07:28] Strate opened #46 "Use typescript 2.1 index access types"
Typescript 2.1 introduces [index access to types](https://www.typescriptlang.org/docs/handbook/advanced-types.html#index-types), which can be used to access type of interface property:

[code]

This s definetely could be used in schemats to avoid to generate `XXXfields` namespace.

[2017-02-25 16:10] xiamx opened #47 "Update the example to use TypeScript 2.1 index access types"
Update the example in readme and in the article to use TypeScript 2.1 index access types as suggested in #46

[2017-02-25 16:14] xiamx commented on #46
Nice! Not generating `XXXfields` namespace would require a major version bump. I will first update the examples in README to encourage the use of index access types (#47). Then revisit this issue when we are close to release v2.0

[2017-02-25 19:49] #47 closed

[2017-02-27 11:25] abenhamdine commented on #46
The limit is that we don't have autocomplete with bracket-notation on index types, yet personnaly I like to use autocomplete.
For this reason, perhaps we should not deprecate XXXFields until Typescript allows dot notation to access  types ?
Nb : TS allows dot notation to properties (not types) with string index signature since only version 2.2, see https://blogs.msdn.microsoft.com/typescript/2017/

[2017-02-27 15:17] xiamx commented on #46
That's an important point. For this reason let's deprecate XXXFields only once TypeScript supports dot notation on interface types. (their language service should be able to provide auto-completion once dot notation is supported.)

[2017-03-02 08:56] vitaly-t opened #49 "Negation support"
A schema can include service tables, either special for security or for PostGIS ones.

One needs to be able to say: `generate for all tables in the schema, except for...` and list the tables to be excluded.

At this point it might be best to introduce profiling support also, i.e. a default `.schemats.json` to provide configure everything that's generated, to avoid too long command lines :wink:

[2017-03-02 09:24] abenhamdine commented on #49
Totally agree, I thought of some more parameters, and a config file will become unavoidable.

[2017-03-02 15:22] xiamx commented on #49
Nice! With _yargs_ package, it's very easy to add support for a `schemats.json` file.
And table negation can use a `--exclude` param.

[2017-03-05 23:45] gsogol opened #50 "Nested jsonb"
Great and useful project. Looking for native json support where the json object is typed once definitions are generated. Is that possible?

[2017-03-06 01:16] xiamx commented on #50
Thanks, do you have an example of what you want to accomplish ?

[2017-03-06 11:46] abenhamdine opened #51 "Add feature to define type for some SQL types"
By default, node-postgres parse bigint and numeric as strings, to preserve full information on the number since javascript doesn't support 64 bits integers.

Depending on the application, big numbers (int8) can be parsed as strings or integers.

Usually, for bigint, we customize the parsing as following :
[code]

So we should be able accordingly to define in schemats the ts type to generate.

[2017-03-06 16:59] xiamx commented on #51
To get that, we would need to make https://github.com/SweetIQ/schemats/blob/master/src/schema.ts#L79 extendable. I'll think about some possible ways to do it. Please let me know if you have any plans :)

[2017-03-09 08:52] vitaly-t commented on #51
Related read: [pg-promise returns integers as strings](http://stackoverflow.com/questions/39168501/pg-promise-returns-integers-as-strings).

[2017-04-21 15:37] xiamx commented on #50
Closing it for inactivity. Please feel free to reopen it at any time.

[2017-04-21 15:37] #50 closed

[2017-04-23 12:35] vitaly-t opened #55 "db types"
This is not an issue, just a thought...

I have seen so many projects at this point that keep re-doing the same thing - trying to map database types into TypeScript types.

So I've just started scratching something with [db-types](https://github.com/vitaly-t/db-types), in an attempt to bring it under one roof, once and for all.

So anyone could say for any database type - "This is my database type

[2017-04-24 02:41] crispmark commented on #55
I think it's a good idea, deciding how it should be mapped is a lot of responsibility for this project to take on, and everyone will have their unique needs. This and support for user defined mappings would really help us expand to db flavours that we are less familiar with.

[2017-04-24 02:43] xiamx commented on #55
It's a nice initiative. I've thought about creating something like this before, but I ended up realizing I only cared about the types I use :joy:

[2017-04-24 09:10] vitaly-t commented on #55
Thanks, guys! I'm still in the process of trying to formulate what it should be and how it should work.

At some point I was even considering turning it into a set of static, predefined TypeScript classes that declare all the mappings and provide generic methods for working with the data types.

In fact, I'm still considering it.... because in the end of the day, this is exactly what what we expec

[2017-04-24 16:07] xiamx commented on #55
I'm more learning towards option 1, a more or less language central approach. I think using metadata reflection of TypeScript, you can still generate those JSONs from TypeScript classes.

[2017-05-26 13:50] bsurai opened #56 "Is it possible to get types from queries?"
Is it possible to get types from queries? I mean one query may contain two or more tables. I'd like to get types of such query's result, not type of just single tables.

[2017-05-26 14:02] xiamx commented on #56
Yup, you'd just have to define what your SQL query outputs. For example

[code]

[2017-05-26 14:04] abenhamdine commented on #56
You can define your custom type matching your query, by mixing/extending the generated types.

eg :

[code]

[2017-05-26 15:52] bsurai commented on #56
Yep, it is clear. I mean another thing. Now I can create many tables in my database. Then I can write command below and I will get osm.ts file with all types of my tables. No more actions. It's great.

`schemats generate -c postgres://postgres@localhost/osm -t users -o osm.ts`

But when I have a query with joining of several tables, I still need to write types by my hands.

[2017-05-26 16:13] xiamx commented on #56
That's right. To have the program infer the output type of the query for the user would require some static analysis on both the query and the schema. It's going to take quite some efforts to get there.

[2017-05-30 23:19] umer4ik opened #57 "Schemats generates empty file"
My env: Windows x64, MySQL 5.5
I try cli with command
`schemats generate -c mysql://root:1@localhost/db -t users -o db.ts`
and the output file content is
[code]
Database has table users with data, what am I doing wrong?

[2017-05-31 00:08] xiamx commented on #57
@crispmark Can you take a look at this one?

[2017-05-31 15:57] crispmark commented on #57
Hi @umer4ik, try
[code]

[2017-06-01 23:06] umer4ik commented on #57
@crispmark works good, thanks a lot!

[2017-06-01 23:39] #57 closed

[2017-06-05 08:21] bsurai commented on #56
Great. I've found a decision. I have a query

[code]
Then I can create a View in my Postgres DB with the query.Then I generate osm.ts with schemats and I'll get TypeScript interface what I need.

[code]

[2017-06-05 17:33] xiamx opened #63 "Parse default schema from connection string"
Need to parse default schema from MySQL connection string so we can use

`schemats generate -c mysql://root:1@localhost/db -t users -o db.ts`

instead of `schemats generate -c mysql://root:1@localhost/db -s db -t users -o db.ts`

related to https://github.com/SweetIQ/schemats/issues/57

[2017-06-05 17:33] xiamx commented on #63
@crispmark

[2017-06-08 20:23] masaeedu commented on #12
@xiamx When people are going around hunting for tools like schemats to help them work with an unfamiliar database schema, it is likely they don't have control over the choice of database.

[2017-06-08 20:37] xiamx commented on #12
You have a point @masaeedu . With https://github.com/SweetIQ/schemats/pull/52, we adopted a structure that allows us to support other types of databases (they just need to implement a common interface).

Pull requests to support other databases (MSSQL, Sqlite (this one is difficult), etc) are very welcomed.

[2017-07-14 18:58] chazclark opened #66 "Materialized view schema type definitions"
Is there a way to generate materialized view schema type definitions? I know it does this for normal views, yet I don't see the output for materialized views.

[2017-07-14 19:35] xiamx commented on #66
Not possible with the current version. But it shouldn't be difficult to implement https://stackoverflow.com/questions/39179253/postgresql-get-materialized-view-column-metadata

Pull requests are welcomed :)

[2017-07-22 21:40] #22 closed

[2017-07-24 19:02] #56 closed

[2017-07-24 19:32] #63 closed

[2017-08-03 16:45] vitaly-t opened #73 "Improve the header details"
This is a feature request for this code: https://github.com/SweetIQ/schemats/blob/master/src/index.ts#L37

Any typical header like this is expected to include the library's name + exact version that was used for generating the file, so you know when it is worthwhile regenerating it, and which tool to use for it, if newer versions are available. Just providing Date/Time doesn't give enough informat

[2017-08-04 17:01] xiamx commented on #73
Implemented 🎉

[2017-08-04 17:01] #73 closed

[2017-12-21 22:09] frankpf opened #77 "Add constraints to generated interfaces"
Is it possible to add information on constraints to the generated interfaces?

As an example, this table:

[code]

could generate something like this:

[code]

I understand that this feature would be overkill to most users, so it could be hidden behind a flag  `--mode verbose` or something like that.

If there's interest in this feature, I'd be willing to work on it.

[2017-12-22 14:21] abenhamdine commented on #77
Good idea IMHO, could be also a way to implement https://github.com/SweetIQ/schemats/issues/12#issuecomment-270928311

[2017-12-22 15:27] xiamx commented on #77
Sounds good!

My only concern is that the new interface generation will not be compatible with the current way we typecheck query returns (see example https://github.com/SweetIQ/schemats#writing-code-with-typed-schema)

Maybe these information can take a different key, so instead we have two alternatives:

1.
[code]

2.
[code]

[2017-12-22 18:29] frankpf commented on #77
One problem with that is that it becomes more inconvenient for libraries to access the relevant keys.

As an example, I want to add a method `findOne` to SafeQL that accepts only primary/unique keys as arguments. Using the scheme above, the user would have to pass  `"_id_meta"` as an argument instead of `"id"`.

Here's what I suggest:

[code]

You can check it on [TS playground](https://www.typesc

[2017-12-22 18:42] frankpf commented on #77
@abenhamdine Yes, IMO we should output as much information as possible (for library authors to use) while keeping the types simple for end users.

What do you think of something like this:

[code]

Although I don't know if simple strings are the best representations for the SQL types. An alternative would be:
[code]

The same goes for check constraints. I see two options:

1. ```typescript
check:

[2017-12-22 19:25] xiamx commented on #77
Nice! This is a very clean solution! With this solution, we can generate the table column type interfaces along with the metadata like primary and unique. The meta interfaces like `usersMeta` can be unexported by default; and is only exported with `--mode verbose` is passed in. This will ensure that the default behaviour stays consistent for the end user.

Looks like option 2 would require some fa

[2018-01-12 12:53] thupi opened #79 "Add MSSQL support"
I am using mssql and would really like to see something like this for mssql.

I do think it might be very similar to the mysql implementation :-) !

[2018-01-12 16:55] xiamx commented on #79
There's no plan to support MSSQL at the moment. However, pull-requests are welcome!

[2018-01-14 15:58] abenhamdine opened #80 "Change json/jsonb type"
Currently, a json or jsonb db field is mapped with typescript `Object` type.
Though Object would seems appropriate at first sight, it leads to following type errors :
[code]
...since`Object` type (same with `object` and `{}` ts types) doesn't accept more properties.

It should be more appriate to type these fields with a specific type which accepts any types, something like :
[code]

[2018-01-14 18:45] xiamx commented on #80
Looks good!

In our use-case, we have specific interface for each jsonb object, and we extend the generated schemats table interfaces with our own. i.e.

[code]

I think most users wouldn't probably want to go through the same level of verbosity, so having a more generic jsonb type is appropriate.

My only concern with suggestion #2 is about whether each driver applies their own parsing method to

[2018-01-15 09:27] abenhamdine commented on #80
Good remark.
Though the momre I think about it, the more the 2nd choice looks better, because `any` actually disable typechecking, so nothing would prevent to do something like :
[code]

while with 2d inplementation :
[code]

You're right, json parsing result may vary depending on the driver (and for instance, for node-postgres, there's still a debate on how dates should be parsed as Date object o

[2018-01-15 15:29] xiamx commented on #80
Sounds good, let's go with
[code]

[2018-01-15 15:31] xiamx commented on #80
@crispmark

[2018-02-09 15:46] xiamx commented on #77
Yeah looks like not everything is easily accessible. Not having MySQL support for now would be fine, someone interested in it will eventually make a PR :D

Feel free to open a pull request when you are ready.

[2018-02-16 23:47] adamcee opened #84 "Fix broken osm.ts example in README"
Hi! This looks like an awesome project and I'm excited to use it. I just wanted to share that currently the link in the README to a a sample `osm.ts` file is a dead link.

[2018-02-17 01:25] xiamx commented on #84
Good spot @adamcee !

[2018-02-17 04:13] adamcee commented on #84
Thank you! I would update it myself but I haven't actually used this library yet, so I don't know what its supposed to look like ...

[2018-02-21 05:02] bradleyayers opened #86 "Name conflict in generated types"
I have a table `document` with a column `type` of type `document_type`:

[code]

This causes a name conflict in the generate types:

[code]

[2018-02-21 09:02] abenhamdine commented on #86
To avoid that, I think enums could be generated in PascalCase (after all it's the common practice with typescript) and/or with Enum prefix, something like :

[code]

[2018-02-21 17:52] bradleyayers commented on #86
I like that proposal, nice and simple!

[2018-02-21 18:07] abenhamdine commented on #86
It will be a breaking change though, because someone could have imported an enum and used it in its code.

[2018-02-21 18:37] bradleyayers commented on #86
Perhaps an option/flag then?

[2018-02-21 18:57] abenhamdine commented on #86
@xiamx what do you think on it ?
Personnaly, I'm -1 on putting this behind a flag because options complexify config and code.

It seems better to include it in next major version (while I doubt many users have enums and import them).

[2018-02-21 20:44] xiamx commented on #86
Yes, preferring a major version bump to have Enum in PascalCase.
We need a minimal impact solution to handle name collision for the current major version.

[2018-02-21 21:36] bradleyayers commented on #86
Emitting exports for both snake and camel, but using camel in the interfaces should work

[2018-02-21 21:40] xiamx commented on #86
Nice, that should provide a smooth transition.

[2018-04-19 13:18] msuntharesan opened #89 "Generates invalid ts file if a table has column named"

[2018-04-19 13:22] msuntharesan opened #90 "Generates invalid ts file if a table has column named "default""
Hello,
I noticed this on postgres.
Ex:

![image](https://user-images.githubusercontent.com/1296183/38993964-12b47754-43b3-11e8-82c9-a55d60974df4.png)

I think it should rename it to `_default`

[2018-04-19 13:23] #89 closed, assigned to nobody

[2018-04-19 13:28] abenhamdine commented on #90
Indeed, we should have a list of words allowed in SQL, but reserved in Typescript in order to rename them at generation.

You could have used `var` as a column name too 😉

[2018-04-20 04:24] xiamx commented on #90
You can modify https://github.com/SweetIQ/schemats/blob/master/src/typescript.ts#L11 and add "default" into the reserved words and make a pull request.

[2018-04-20 07:47] abenhamdine commented on #90
Oh nice, didn't know.

[2018-05-02 03:10] coderq opened #92 "Type [undefined] has been mapped to [any] because no specific type has been found."
when I run this command, it always show the message that you have seen in the title.

[code]

 And the file which has been generated is like this:

[code]

How can I fix this problem?

node version is 8.9.1
schemats version is 3.0.3

[2018-05-02 13:07] abenhamdine commented on #92
weird
IIRC this message is supposed to happen when an unknowned sql type is found in the schema.
But the message should display that type.

[2018-05-02 13:40] xiamx commented on #92
OP could you share the DDL of one of your table (for example test_article)?
Also try running without ` -s mydb`

[2018-05-29 07:27] ellis opened #93 "bigint should be typed as "string" instead of "number" by default"
node-postgres returns Bigint columns as strings instead of numbers (by default), because they can be larger than javascript numbers.  Could you please modify schemats to use "string" for bigint columns instead of "number"?

[2018-05-29 08:01] abenhamdine commented on #93
it would be even better if configurable, because it's quite usual to override node-postgres parser settings in order to parse bigint as integer.
See https://github.com/SweetIQ/schemats/issues/51

[2018-06-19 18:26] jackh726 opened #94 "Support passing pg-promise initialization options during the library's initialization"
It would be nice to be able to pass initialization options or a configuration object directly to pg-promise.

This could be fairly easily be possible if you
1) Allow either a `PgPromise.IDatabase` or a string directly to be passed to the PostgresDatabase constructor.
2) Export PostgresDatabase from index (should also maybe export MysqlDatabase too)

In general, it might be worth double checking to

[2018-06-20 03:10] xiamx commented on #94
I think allowing the constructor to be extended with options is a good choice. Please make a pull request and let's look at it together. Also could you elaborate on what you want to build on top of schemats, I'm very curious.

[2018-06-20 09:15] ellis commented on #93
FYI, I patched the code here: https://github.com/ellis/schemats/commit/e2defb8214775ec733357adbb7ca8525210b4a64

[2018-06-21 19:11] vitaly-t commented on #94
My sentiment exactly, what [options](http://vitaly-t.github.io/pg-promise/module-pg-promise.html) of `pg-promise` is he planning to use that would be beneficial here?

[2018-06-21 21:58] jackh726 commented on #94
@xiamx I actually have (at least for now) decided that this is a bit heavy for me to implement/use (for now, at least), and I can't really devote time to make a pull request currently, sorry.

I was planning to use this to generate types during build/development. The project I work on has some special logic for getting the database configuration, and use that as a configuration object for pg-promi

[2018-06-22 03:41] xiamx commented on #94
Cool so I changed the title to a more descriptive one. We will keep this one open for visibility.

[2018-06-22 10:06] vitaly-t commented on #94
@xiamx It's nice, but I don't see it being of any use, because this library is only used for generating code, and all the options in pg-promise relate to the run-time in-app usage only, nothing to do with the code generation. I don't understand why this issue was open to begin with.

[2018-07-16 15:48] pardeike opened #97 "TypeError: Cannot read property 'replace' of undefined"
I get the following error:
[code]

I just installed schemats with `npm install -g schemats`

[code]

and my table looks like this:

[code]

My database installation:

[code]

[2018-09-07 09:44] bensalilijames commented on #46
This is particularly relevant when using the (reasonably) new `@babel/typescript` transform instead of the Typescript compiler, since the Babel transform [doesn't support namespaces](https://babeljs.io/docs/en/next/babel-plugin-transform-typescript.html#caveats)

[2018-11-13 06:14] talzion12 commented on #92
I also encountered this error message when I used postgres' [composite types](https://www.postgresql.org/docs/10/rowtypes.html).

For example for this SQL definition:
[code]

This typescript is generated:
[code]

[2019-02-18 11:45] hinderberg commented on #86
Whats the status on this?

[2019-02-18 11:46] bradleyayers commented on #86
I'm using a forked version that I have checked into my project with this fix applied.

[2019-02-18 11:48] hinderberg commented on #86
Thats to bad! Renaming my enum type while waithing for this. Forking too many libs allready! ;)

[2019-02-26 01:34] narkowicz commented on #93
Note that TypeScript 3.2 adds support for `bigint` type.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-2.html#bigint

[2019-03-06 13:19] felixmosh commented on #97
Looks like it is related to MySql 8, It has tables & columns with an uppercase.
Therefore this line:`var enumValues = MysqlDatabase.parseMysqlEnumeration(enumItem.column_type);`
passes `undefined` to the **parseMysqlEnumeration**, it can be solved in query function that will convert all column names to lower-case

[2019-03-14 18:15] felixmosh commented on #86
Why not export the enums and all table related interfaces under namespace with the name of the table.

[2019-03-19 00:07] anup-the-magic commented on #80
Should be noted, though, that postgres allows any json _value_ to be typed as json, and does not limit it to objects or arrays:
[code]

[2019-03-19 00:42] anup-the-magic opened #104 "Unsafe table names generate invalid ts file"
If we have table names that, on the db side, need to be quoted, the generated type names end up being invalid typescript names. Not certain what the ideal end result should be, but just figured this was worth documenting.

for instance:
[code]

Produces
[code]

[2019-05-09 21:22] vitaly-t commented on #104
@xiamx, @crispmark Guys, the bug should state that finding invalid names isn't handled correctly. And the fix should be: Whenever finding such names that cannot be mapped into TypeScript names, report as error, explaining the issue, and not generate invalid code.

[2019-06-30 03:43] sunojvijayan commented on #92
Did anyone find a solution to this?

[2019-08-14 17:46] vitaly-t commented on #104
@xiamx @crispmark
Is this library still supported though, I wonder?

[2019-08-21 11:20] HoldYourWaffle commented on #12
I think this was implemented by https://github.com/vaultdairy/schemats/commit/ed446b43c6708f7f27dac7b2c819df93f6b88951 and https://github.com/vaultdairy/schemats/commit/f50bd4a7be5218aa8bf08a0ca0e44c8828f6ca07.

@evdhiggins I noticed you've done some major changes in your fork (some of them I might use myself), are these changes compatible with the main repository?

[2019-08-21 13:30] evdhiggins commented on #12
@HoldYourWaffle -- Unfortunately, no. The fork now generates [io-ts types](https://github.com/gcanti/io-ts) instead of regular Typescript interfaces. While the output types _can_ be used just as regular types, this change probably isn't something that most consumers of schemats would want.

[2019-08-24 09:59] HoldYourWaffle commented on #104
@vitaly-t https://github.com/SweetIQ/schemats/pull/81#issuecomment-510185054

[2019-08-29 14:08] abenhamdine commented on #104
I aim to maintain this project but I will have to fork the project first, I can't and don't want to operate under SweetIQ name.

[2019-08-29 14:22] HoldYourWaffle commented on #104
I think it'd be great if someone stepped up to maintain a fork of this project. It's very useful and has a lot of potential, but there are a few things that make this "original" version not usable for my needs (#105 for example, I've also been working on an implementation of enums for "lookup tables").
I'm not able to maintain such a fork myself right now, but if you (@abenhamdine) would be able t

[2019-08-29 14:31] xiamx commented on #104
Ideally a new fork of this project would start from someone who uses it regularly, perhaps using it as part of a production setup. I started a fork last year to try to merge some good PRs in https://github.com/xiamx/schemats/ but just didn't have the time to work on it.

[2019-08-29 15:23] abenhamdine commented on #104
Ok great, I will start from there.

[2019-08-29 19:26] HoldYourWaffle commented on #104
I think @evdhiggins made a fork (with useful changes) too (including copying my camel caseing PR 😉 ). ([Link for convenience](https://github.com/vaultdairy/schemats))

[2019-08-29 21:15] evdhiggins commented on #104
I'd also be happy to contribute to a new maintained fork in the future.

(@HoldYourWaffle -- your CC PR was a great start to some really helpful things that we've been able to do internally, so I suppose I owe you a great deal of thanks!)

[2019-08-29 21:32] HoldYourWaffle commented on #104
@evdhiggins Glad I could be of help!
Just out of curiosity, what are the differences between my implementation and yours?

[2019-08-29 21:50] xiamx commented on #104
In that case, why not create a schemats organization and fork it from there. There was a steady growth of users (whether it's from CI or not), so there's some merits to having it become maintained again.

I still have access to the npm registry so transition for the users should be smooth

![image](https://user-images.githubusercontent.com/643911/63978826-5eb6a500-ca85-11e9-8de5-fc232debb5fb.png)

[2019-08-29 21:56] vitaly-t commented on #104
Good to see some life here :smile:

[2019-08-29 22:07] HoldYourWaffle commented on #104
It might be a good idea to collect all useful PR's and forks currently existant that could be merged into the new "active" fork.

[2019-08-30 01:28] evdhiggins commented on #104
@HoldYourWaffle -- Regarding the implementation differences: I think that the main difference is that the camel case options were `columns` and `tables` instead of `columns` and `types` (the fork doesn't really support the column types separately in the same way).

[2019-08-30 01:41] vitaly-t commented on #104
Whatever the next version/branch, it must be in `strict` mode. Many projects will no longer accept public contributions that do not compile in `strict` mode, and rightfully so.

For example, the latest [pg-promise] that I maintain, gives you 100% `strict` mode compliance now. So it can be updated and used safely here.

[pg-promise]:https://github.com/vitaly-t/pg-promise

[2019-08-30 08:27] abenhamdine opened #107 "Project maintainance"
Follow up of https://github.com/SweetIQ/schemats/issues/104#issuecomment-526201898

Some background : @xiamx the original author of this module, and @crispmark another contributor, have both left SweetIQ and can't provide maintenance anymore (see https://github.com/SweetIQ/schemats/pull/81#issuecomment-510185054).

At @Arhia (my company), we use this module everyday in a very big application and w

[2019-08-30 08:30] abenhamdine commented on #104
For clarity, I started https://github.com/SweetIQ/schemats/issues/107 to continue the discussion about a new active project. Don't hesitate to comment it.

[2019-08-30 11:13] HoldYourWaffle commented on #107
I'd love to contribute to this new fork!
I think we should compose a list of all useful forks/PR's/issues that should be transferred to the new "fork"/version.

I already have #105 and an implementation of 'lookup tables' as enums pending. While creating these contributions I noticed that the current project structure doesn't have a separate build directory, I'd love to see that changed as well (p

[2019-08-30 11:46] abenhamdine commented on #107
You're right but all meaningful names (typedschema, etc) are already used, and if we can publish with the same name on npm, it worth keeping the name `schemats` for consistency.

I don't think @xiamx could easily transfer this repository, it belongs to SweetIQ company (@xiamx can you confirm ?).
If it's the case, we will have to clone or to transfer https://github.com/xiamx/schemats/ to the new or

[2019-08-30 13:00] evdhiggins commented on #107
2. The https://github.com/xiamx/schemats/ fork is mostly url changes (`SweetIQ` -> `xiamx`), build/configuration fixes, and package updates. I think that it definitely makes sense to use that fork as the starting point.

3. Echoing what has already been said, I would agree that cloning makes the most sense. It's a shame that a deprecation + link from the current repo to the new one isn't likely.

[2019-08-30 13:05] HoldYourWaffle commented on #107
We should probably add a section on what this "new version" is to the README if a namechange is this subtle, to make it clear that this is the new and improved (and maintained) version.

I hope @xiamx can find a way to transfer this repository so we can avoid all confusion and keep the open issues/pull requests. Merging his fork as "starting point" would be trivial.

[2019-08-30 18:50] xiamx commented on #107
Unfortunately I don't think transfer of repo is a possibility. All the people I worked with before from sweetiq no longer work there...

It sucks that there's no easy way to redirect traffic from this project to the new one. But if this new fork/clone fixes important bugs, then recognition and popularity will flow in eventually 😄

[2019-08-30 19:10] HoldYourWaffle commented on #107
That's unfortunate. Of course if we can publish to npm under the same name we can easily change all links to the new organization to direct any new users to the new location. Creating an issue in this repository with a title like "look over here for fixes" would probably be enough to direct all existing users (eventually).

That still leaves the issue of transferring PR's and issues however.

[2019-08-30 22:39] xiamx commented on #107
I've sent an email to github support to see if they have a way to mass copy issues and pull requests to a fork. Let's see if there's a non manual repetitive way available for us.

[2019-09-08 23:23] jhenson29 commented on #107
What’s the status of this? I would like to use Schemats in projects, but I was concerned that it looked abandoned. I can assist with maintenance if needed.

[2019-09-09 07:33] abenhamdine commented on #107
I have forket this project to https://github.com/schemats/schemats and I'm loooking how to float the pending PR to the fork.

At @Arhia we will maintain it anyway, we rely on it for a very big application.

[2019-09-10 14:03] evdhiggins commented on #107
In the case that PRs cannot be transferred, what would you anticipate the fallback plan to be? I suppose that any of the larger PRs could be separately forked and merged with the the new repo prior to the full divergence.

To be honest, I would be a bit surprised if there was a non-manual way to transfer issues & PRs.

[2019-09-10 14:58] abenhamdine commented on #107
Yes and no.
I will probably be able to recreate PR from the forks via the website.
For simple branches, I will have to use command line
see https://stackoverflow.com/questions/6022302/how-to-apply-unmerged-upstream-pull-requests-from-other-forks-into-my-fork

[2019-09-10 15:58] HoldYourWaffle commented on #107
The command line probably wouldn't be necessary because you can create PR's from other people's forks (unless I'm missing something here...)

[2019-09-11 09:02] abenhamdine commented on #107
Yes, but only if there's a fork (nevertheless it should be the more common case).
I began to recreate the PR, see https://github.com/schemats/schemats/pull/1

If some folks want to send the PR themselves, they can (but I don't guarantee I will have enough time to review them and merge in the short term)

[2019-09-11 13:51] xiamx commented on #107
Maybe the folks here (and myself as well) can help contribute reviewing those.

@abenhamdine what's your npm username?

[2019-09-11 14:08] abenhamdine commented on #107
Yes of course ! Let me just think about how to organize that without being overwhelmed by questions, etc...

arnaudbenhamdine

[2019-09-24 11:31] ianp commented on #80
Really JSON and JSONB should be typed as `unknown` because you should really be running them through type guards before doing anything with the contents.

[2019-10-06 16:48] vitaly-t opened #108 "pg-promise updates"
To my recollection, this library was kind of inspired from using [pg-promise], and it still uses it as the main reference, although a very old version of it.

[Version 9.3] of `pg-promise` kind-of opened the floodgate to supporting [BigInt] natively all the way through. And a library such as `schemats` should somehow keep up with that, in order to stay relevant.

Just a thought :smile:

[Version 9

[2019-10-15 08:52] ellis commented on #107
@abenhamdine Is your company still planning on moving forward with this?  This repo is so getting so outdated, it'll be great to see a maintained version.

[2019-10-15 08:58] abenhamdine commented on #107
@ellis yes it's still planned, but we are currently working on a major release of our product, so it's difficult to work on it, sorry.

[2019-10-30 08:59] osdiab commented on #107
Also @jawj made some edits to it for https://github.com/jawj/mostly-ormless - I'm keen to use that approach at my company, but the lack of support for `schemats` (even moreso since his fork is more likely to fall out of date) gives me cold feet to rely on this library. not familiar with the inner workings of the library but i'll read up a bit and see how i can help.

[2019-11-06 02:26] mhuconcern commented on #66
@xiamx  Has there been any pull request out for this. If so how do we use it

[2019-11-14 22:34] budarin opened #109 "Q: what about generating types for procedures/functions in schema"
I've not found info about generating type definitions for functions/procedures in schema!
Is it possible with it?

[2019-11-18 20:13] mhuconcern commented on #66
I moved to  [slonik](https://github.com/gajus/slonik) It has a typegen package that is actively maintained

[2020-01-27 23:28] kelszo opened #112 "PSQL bytea should be typed as a buffer not a string"
The bytea datatype should be typed as a buffer not a string. All psql drivers i know of (mainly node-postgres and pg-promise) automatically convert the datatypes.

[2020-02-24 07:02] ORESoftware opened #114 "neat tool - why use namespaces? just curious"
This worked fine for me so far. Just curious why the use for namespaces?

when I ran this:

[code]

I got:

[code]

[2020-02-24 07:05] ORESoftware opened #115 "Object should be object instead?"
I used this command:

schemats generate -c 'postgres://postgres:postgres@localhost/postgres' -t 'user_map_table' -o schemas/user-map.ts

and I got:

![Screenshot from 2020-02-23 23-04-53](https://user-images.githubusercontent.com/11139560/75133790-ed049000-5690-11ea-8536-526b555f571f.png)

but shouldn't it be `object` not `Object`?

![Screenshot from 2020-02-23 23-05-11](https://user-images.github

[2020-02-24 11:29] HoldYourWaffle commented on #115
[Probably](https://www.typescriptlang.org/docs/handbook/declaration-files/do-s-and-don-ts.html#general-types)

[2020-02-24 11:32] HoldYourWaffle commented on #114
Because it enables you to reference column types:

[code]

I haven't used this library in a while and this isn't a very pretty example, but I hope it can clear up some confusion.

[2020-03-14 22:38] seraph0x opened #116 "MySQL: TINYINT should be a number, not a boolean"
The MySQL type `TINYINT` is a number between -128 and 127 (signed) or 0 and 255 (unsigned) so the corresponding type in Typescript should be `number`, not `boolean`.

It is true that booleans in MySQL are `TINYINT`s but the converse is not true. `TINYINT` is the correct type to use in MySQL for any integer that will fit inside of one byte, not just booleans.

In `src/schemaMysql.ts` there is a com

[2020-03-18 12:58] ration opened #117 "Mark serial types as optional"
Hi,

I attempted to use the generated schemas in knex to insert rows, but ran into an (obvious?) issue that the interface for the rows require the primary key, which of course I don't yet have. Does this make sense for schemats?

Can I work around this somehow?

Just to fiddle with the idea I made a POC for PostgreSQL that does this: https://github.com/ration/schemats/tree/optional_serial

[2020-04-22 18:35] mlogan commented on #107
Hey everybody. I have forked this repo to https://github.com/mlogan/schematzah, upgraded all dependencies, made some tsconfig changes, switched to yarn, and pushed the result as the npm package `schematzah`.

I don't plan to do any development on this (I just needed a version built with a recent typescript), but I'm happy to merge PRs and publish new versions.

I know there was some discussion abo

[2020-04-22 19:03] Urigo commented on #107
That's awesome @mlogan !  I'll try to upgrade my projects!

On another note, in some of my projects I needed the schema types but in most of my projects what I really needed was types of the results of my queries...
Recently I've found [pgTyped](https://github.com/adelsz/pgtyped) which does exactly that and I must say I enjoy it a lot (and it's well maintained)

[2020-04-22 19:12] jawj commented on #107
BTW @osdiab I've converted the 'mostly-ormless' approach into a new library, and I've rewritten out the dependency on this project. I'm currently writing up the documentation. It's at https://github.com/jawj/zapatos and published as `zapatos` on npm.

[2020-05-16 18:27] sbichenko opened #120 "Postgres support not compatible with Node 14"
schemats depends on `"pg-promise": "^6.3.6"`, which in turn depends on `pg`. Node 14 support in `pg-promise` [was added only recently, in version 10.5.2](https://github.com/vitaly-t/pg-promise/issues/717).

schemats currently fails silently when trying to run against a Postgres database.

[2020-06-03 16:13] olso commented on #120
@sbichenko did you resolve this?

[2020-06-03 16:18] olso commented on #120
So far, I've done (I use `yarn`)

[code]

but now I'm trying to force `rejectUnauthorized` into the url, so far without luck

`npx schemats generate -c ${process.env.DATABASE_URL}?ssl=true`

`npx schemats generate -c ${process.env.DATABASE_URL}?ssl%5BrejectUnauthorized%5D=false`

[2020-06-03 16:22] olso commented on #120
https://github.com/vitaly-t/pg-promise/issues/711

[2020-06-03 16:24] olso commented on #120
Okay, I just

`NODE_TLS_REJECT_UNAUTHORIZED=0 npx schemats generate -c ${process.env.DATABASE_URL}?ssl=true --camelCase -s public -o ${outputFile}`,

[2020-06-04 12:38] olso commented on #120
I know its wrong, but I'm using Heroku... https://help.heroku.com/MDM23G46/why-am-i-getting-an-error-when-i-upgrade-to-pg-8

[2020-11-01 15:00] Korede-TA commented on #120
any updates on this? having the same issue when running against postgres 12.4 and node v14.15.0.

i'm using Knex.js to do migrations and i've checked that all my desired tables are in the "public" schema.

[2020-11-01 15:03] olso commented on #120
@Korede-TA

[code]

[code]

works for me node 14.14

[2020-11-01 15:04] olso commented on #120
I use a custom script/bin

[code]

[2020-11-27 17:49] berndartmueller commented on #120
@olso Awesome custom script! Thanks a lot.

Did you already figure out the ts-morph part to make also all nullable fields optional?

[2021-01-28 03:31] naseemkullah commented on #116
Dear maintainers: Would a PR be merged in if created?

[2021-02-23 17:30] RobertoGlez commented on #120
Also you can use NVM to Switch between node version because in fact schematics not working with node 14

[2021-03-02 02:28] dhirajsonavane opened #124 "How to provide User Name and Password in the command"
Hi,

Could you please update documentation about how to pass user name, password, port  in command?

Thanks
Dhiraj

[2021-04-06 20:29] teachtocode opened #125 "Error on generating schema (Multiple enums with the same name)"
Hi , when i try to execute the command i am getting error
command :
 schemats generate -c mysql://root:root@localhost:8889/labourindia  -t kc_blogs -o osms.ts

Error: Multiple enums with the same name and contradicting types were found: status: ["1","0"] and ["0","1"]
    at /usr/local/lib/node_modules/schemats/src/schemaMysql.js:153:39
    at Array.forEach (<anonymous>)
    at MysqlDatabase.<anon

[2021-04-13 02:01] TobiasNickel commented on #124
just as part of the database url:
[code]
if you have special chars in your password, you can use the browsers "encodeURIComponent" function to encode the password for the URL.

[2021-04-18 14:50] rattrayalex commented on #107
Another related successor project:

https://github.com/nettofarah/postgres-schema-ts

May also be interesting:

https://github.com/xialvjun/ts-sql-plugin

And another (much closer to this project, looks _highly_ configurable and well-maintained):

https://github.com/rmp135/sql-ts

[2021-06-20 13:59] yasserf opened #127 "An almost fully compatible* upgraded fork"
hey!

Thanks a mil for this nifty tool.

I just published a fork (although I made a new repo out of it with attributions as I changed functionality and libraries used under the hood) I'm using quite extensively within a few other projects. I figured having one that upgrades all the dependencies and uses some of the newer JS features would be a nice win.

I still need to tweak it a bit, but wanted

[2021-06-20 14:00] yasserf commented on #127
The incompatibility is removal of mysql, but happy to merge that in if anyone feels like adding it in.

[2021-08-19 10:00] sbichenko commented on #120
I hate myself for not posting the solution earlier!

Adding this to `package.json` fixes the problem for me:

[code]

[2021-08-19 10:00] #120 closed, assigned to nobody

[2021-08-30 23:15] vitaly-t commented on #120
Pity the author abandoned the project. (Author of pg-promise).

@xiamx

[2021-09-07 16:25] robertpitt commented on #125
Seeing the same issue here:

[code]

[2021-10-27 17:00] richban commented on #127
thanks @yasserf your fork works like a charm

[2022-03-21 20:01] branlok opened #130 "Unable to generate interface, no feedback after entering generate command."
```schemats generate -c postgresql://username:secret@localhost:5432/temphelium -o  psqltypes.ts```

anyone having issues generating interface?

[2022-05-12 04:14] abdulrahman1s commented on #130
I had the same issue.. I guess the project is dead :disappointed_relieved:

[2022-05-12 04:15] abdulrahman1s commented on #127
thanks homie

[2022-06-24 16:55] jrbakooba commented on #125
I am encountering the same error. The reason is that one or more different tables have the same enum column names, in my case it was 'type'. Here is the query you can run to determine the culprits:

[code]

I am going to try to rename my columns since there's not that many of them, and this is something we try to do anyways in this project (`thing_status` instead of just `status` for clarity). Wha

[2022-07-13 04:25] ax-vasquez commented on #130
Oof I thought I was doing something wrong here. Guess not :(

I'm hitting this same issue. Been having a lot of trouble debugging it without any output.

[2022-07-13 08:24] abdulrahman1s commented on #130
Here's an alternative [click me](https://github.com/vramework/schemats)